
header img {
    background-color: #23292D;
    border-radius: 80%;
    border: 2px solid #23292D;
}
.navigation {
    background-color: #23292D;
    color: white;
    padding: 10px;
}
.form-control {
    width: 25%;
    display: inline;
}
.navigation a {
    color: white;
    padding: 5px;
}
.navigation i {
    float: right;
    margin-top: 5px;
    padding: 10px;
}

.container {
    border: 2px solid palevioletred;
    margin-top: 50px;

}
.container .profile_pic {
    padding: 0;
    width: auto;
    height: 230px;
    display: inline-block;
}

.right_side a{
}
.under_profile {
    border: 2px solid green;
    width: auto;
    height: 75px;
}

.organizations {
    border: 1px solid grey;
}

.repo_search {
    border-top: 2px solid pink;
}
.repos {
    border-top: 2px solid pink;
    margin: 20px;
}